input{
    font-size: 25px;
    margin-top: auto;
}

body{
    background-color: rgb(34, 34, 71);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

input[type="text"], input[type="password"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 30%;
    border-radius: 3px;
    border: 1px solid #eee;
    margin:  30px auto;
}

input[type="submit"]{
    padding: 10px;
    color: #eee;
    background-color: rgb(31, 6, 100);
    width: 32%;
    margin: 20px auto;
    margin-top: 0;
    border: 2px solid #eee;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #0010eb;
}

form{
    margin-top: 10%;
}

a{
   text-decoration: none; 
   color: #eee;
}

header{
    margin-top: auto;
    width: 100%;
    font-size: 70px;
    font-family: sans-serif;
    border-bottom: 2px solid #eee;
    text-align: center;
}